<!--Jumbotron-->
<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
           <a href="/"> <h1 class="display-1" id="jumbotronTitle" >readit</h1></a>
            <p class="lead" id="jumbotronText"> Definitely here before reddit.</p>
        </div>
    </div>
</header>



<section>
    <!-- Modal-->
    <!-- Button trigger modal -->

    <div class="row justify-content-center">
        <div>
            <div class="col">
                <div class="modal fade" id="myThreadModal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="modal-font">
                                    <h1>Create a new thread</h1>
                                </div>
                            </div>
                            <div class="modal-body">
                                What is the threads name?
                                <input class="form-control" id="threadName">
                            </div>
                            <div class="modal-body">
                                Choose a category
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false" id="threadCategory">
                                        Gaming
                                    </button>
                                    <ul>
                                        <div class="dropdown-menu">

                                            <li> <a class="dropdown-item" href="#">Gaming</a></li>
                                            <li> <a class="dropdown-item" href="#">Coding</a></li>
                                            <li> <a class="dropdown-item" href="#">Crypto</a></li>
                                            <li> <a class="dropdown-item" href="#">Computer Building</a></li>
                                            <li> <a class="dropdown-item" href="#">Entertainment</a></li>
                                            <li> <a class="dropdown-item" href="#">Misc.</a></li>
                                            <li> <a class="dropdown-item" href="#">Reviews</a></li>

                                        </div>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <input class="btn btn-primary" data-dismiss="modal" value="Submit"
                                        id="threadCreate">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#myThreadModal">New
                    Thread</a>
            </div>
        </div>
    </div>
</section>
<br>
<hr><br>


<div class="row " id="threadRow">
    <div class="col-xl-2 selected" id="activeThread">
        <h4>Categories</h4>
        <div class="categories">
        <ul id="tags">
          <li id="Gaming" value ="Gaming">  <a href="/threads">Gaming</a> </li>
          <li id="Coding" value ="Coding">  <a href="/threads">Coding</a></li>
          <li id="Crypto" value ="Crypto">  <a href="/threads">Crypto</a></li>
          <li id="Computer Building" value ="Computer Building">  <a href="/threads">Computer Building</a> </li>
          <li id="Entertainment" value ="Entertainment">  <a href="/threads">Entertainment</a> </li>
          <li id="Misc." value ="Misc.">  <a href="/threads">Misc.</a> </li>
          <li id="Reviews" value ="Reviews">  <a href="/threads">Reviews</a>  </li>
        </ul>
        </div>
    </div>

    <div class="col-xl-9" id="threadBody">
        <h3>subReadits</h3>
        <ul class="">
           
        </ul>
    </div>
</div>
</div>
<br><br><br><br><br>
<footer class="footer">
    <div class="container">
        <span class="text-muted">
            <div class="row justify-content-center">
                <div>
                    <div id="createdBy">
                        <div class="col-md-12 ">Copyright © 2020 Fake-r-Us All Rights Reserved</div>
                    </div>
                </div>
            </div>
    </div>
    </span>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="/assets/js/readIt.js" type="text/javascript"></script>