<li>

<div class="col-md-12 blog-container">
    <div class="card">
        <div class="card-header">
            <h2>
                {{dataValues.title}}
            </h2>
            <h5 style="float: right; font-weight: 700; margin-top: -15px;">{{dataValues.user}}</h5>
        </div>
        <div class="card-body">
            <p>
                {{dataValues.body}}
            </p>
        </div>
    </div>
</div>

</li>