<li>
<div class="col-md-12 blog-container">
    <div class="card">
        <div class="card-header">
            <h3>
                {{dataValues.thread_name}}
            </h3>
            <p>
                {{dataValues.body}}
            </p>
            <h5 style="float: right; font-weight: 700; margin-top: -15px;">{{dataValues.category}}</h5>
        </div>
    </div>
</div>
</li>